---
title: Open Webslides documentation

toc_footers:
  - <a href='https://github.com/tripit/slate'>Documentation Powered by Slate</a>

includes:
  - introduction
  - changelog
  - administrators
  - infrastructure
  - developers
  - apis
  - alerts
  - assets
  - confirmation
  - feed_items
  - password
  - pull_requests
  - token
  - topics
  - users

search: true

endpoint: https://openwebslid.es/api/
version: 13.0.0
request_version: ~>13
---
