---
title: Open Webslides documentation

toc_footers:
  - <a href='https://github.com/tripit/slate'>Documentation Powered by Slate</a>

includes:
  - administrators
  - developers
  - authentication
  - users
  - decks
  - conversions
  - errors

search: true

endpoint: https://api.openwebslides.org/api/
---

# Introduction

Welcome to the Open Webslides documentation! This website documents the installation, use and API of the Open Webslides platform.

## Overview

The Open Webslides API is based on the JSON-API specification version 1.0. Under certain conditions, the API deviates from the spec or adds its own implementation when a procedure is not described in the specification, such as uploading binary files. For more examples and technical documentation, refer to the [JSON-API specification](http://jsonapi.org/format/1.0/) and the [implementation in use](http://jsonapi-resources.com/v0.9/guide/index.html). All API calls should use the `application/vnd.api+json` MIME type to exchange data.

The platform consists of two components: the backend and the frontend. The backend is written as a monolithic Ruby on Rails application, which exposes a RESTful API to the client. The frontend is written in React and consumes the RESTful API.

## Application architecture

<%= image_tag 'architecture.png' %>

## Data model

<%= image_tag 'data_model.png' %>

## Permission model

A deck and its assets are protected by the `state` attribute. This attribute can have the following values:

State | Description
-----------|-----------
`public` | Visible to everyone both inside and outside of the platform
`protected` | Only visible to users inside the platform
`private` | Only visible to owner and collaborators

<aside class="notice">
  This access model will also be enforced in the backing store, e.g. protected and private decks will be stored in a private repository on GitHub.
</aside>

**Permission table**

| Deck access level | User access level | Resulting permissions |
| ----------------- | ----------------- | --------------------- |
| Public            | Guest             | read                  |
|                   | Member            | read                  |
|                   | Collaborator      | read, write           |
|                   | Owner             | read, write, admin    |
| Protected         | Guest             |                       |
|                   | Member            | read                  |
|                   | Collaborator      | read, write           |
|                   | Owner             | read, write, admin    |
| Private           | Guest             |                       |
|                   | Member            |                       |
|                   | Collaborator      | read, write           |
|                   | Owner             | read, write, admin    |
